<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
      <div class="container">
        <div class="banner_content d-md-flex justify-content-between align-items-center">
          <div class="mb-3 mb-md-0">
            <h1 class="text-white playfair-display">Find Inspiration </h1>
          </div>
          <div class="page_link">
            <a href="javascript:(0);" routerLink="/website/home">Home</a>
            <a href="javascript:(0);">/</a>
            <a href="javascript:(0);">Find Inspiration</a>
          </div>
        </div>
  
      </div>
    </div>
  </section>

  <section class="feature_product_area section_gap_bottom_custom mb-25">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="main_title text-center mt-5">
            <h2 class="playfair-display"><span>Pop of Colour</span></h2>
            <p class="mb-50 primary-secondary">Bring called seed first of third give itself now ment</p>
          </div>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-lg-3">
            <div class="property-item rounded overflow-hidden">
                <div class="position-relative overflow-hidden">
                    <a href=""><img class="img-fluid" src="assets/images/product/product-1.jpg" alt=""></a>
                </div>
                <div class="p-3">
                    <div class="d-flex gap-2">
                    <h5 class="text-dark mb-2">$3,999</h5>
                        <div class="h6 mb-0 mt-1"> <del class="fs-sm fw-normal text-body-tertiary">$6,000</del></div>
                    </div>
                    <a class="d-block h6 mb-3 primary-secondary fw-normal" href="">A timeless design doesn’t have to be simple... </a>
                    <div class="d-flex gap-2">
                        <button type="button" class="btn btn-primary-dark w-100  px-3 rounded-0"><i class="feather icon-shopping-cart" routerLink="/website/addtoCart"></i> Add to cart</button>
                        <button type="button" class="btn btn-icon btn-primary-dark animate-pulse rounded-0" aria-label="Add to wishlist">
                          <i class="feather icon-heart"></i>
                        </button>
                      </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="property-item rounded overflow-hidden">
                <div class="position-relative overflow-hidden">
                    <a href=""><img class="img-fluid" src="assets/images/product/product-2.jpg" alt=""></a>
                </div>
                <div class="p-3">
                    <div class="d-flex gap-2">
                    <h5 class="text-dark mb-2">$5,999</h5>
                        <div class="h6 mb-0 mt-1"> <del class="fs-sm fw-normal text-body-tertiary">$8,000</del></div>
                    </div>
                    <a class="d-block h6 mb-3 primary-secondary fw-normal" href="">A timeless design doesn’t have to be simple... </a>
                    <div class="d-flex gap-2">
                        <button type="button" class="btn btn-primary-dark w-100  px-3 rounded-0" routerLink="/website/addtoCart"><i class="feather icon-shopping-cart"></i> Add to cart</button>
                        <button type="button" class="btn btn-icon btn-primary-dark animate-pulse rounded-0" aria-label="Add to wishlist" routerLink="/website/addtoCart">
                          <i class="feather icon-heart"></i>
                        </button>
                      </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="property-item rounded overflow-hidden">
                <div class="position-relative overflow-hidden">
                    <a href=""><img class="img-fluid" src="assets/images/product/product-3.jpg" alt=""></a>
                </div>
                <div class="p-3">
                    <div class="d-flex gap-2">
                    <h5 class="text-dark mb-2">$4,999</h5>
                        <div class="h6 mb-0 mt-1"> <del class="fs-sm fw-normal text-body-tertiary">$7,000</del></div>
                    </div>
                    <a class="d-block h6 mb-3 primary-secondary fw-normal" href="">A timeless design doesn’t have to be simple... </a>
                    <div class="d-flex gap-2">
                        <button type="button" class="btn btn-primary-dark w-100  px-3 rounded-0" routerLink="/website/addtoCart"><i class="feather icon-shopping-cart" ></i> Add to cart</button>
                        <button type="button" class="btn btn-icon btn-primary-dark animate-pulse rounded-0" aria-label="Add to wishlist" routerLink="/website/addtoCart">
                          <i class="feather icon-heart"></i>
                        </button>
                      </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="property-item rounded overflow-hidden">
                <div class="position-relative overflow-hidden">
                    <a href=""><img class="img-fluid" src="assets/images/product/inspired-4.jpg" alt=""></a>
                </div>
                <div class="p-3">
                    <div class="d-flex gap-2">
                    <h5 class="text-dark mb-2">$6,999</h5>
                        <div class="h6 mb-0 mt-1"> <del class="fs-sm fw-normal text-body-tertiary">$8,000</del></div>
                    </div>
                    <a class="d-block h6 mb-3 primary-secondary fw-normal" href="">A timeless design doesn’t have to be simple... </a>
                    <div class="d-flex gap-2">
                        <button type="button" class="btn btn-primary-dark w-100  px-3 rounded-0" routerLink="/website/addtoCart"><i class="feather icon-shopping-cart"></i> Add to cart</button>
                        <button type="button" class="btn btn-icon btn-primary-dark animate-pulse rounded-0" aria-label="Add to wishlist" routerLink="/website/addtoCart">
                          <i class="feather icon-heart"></i>
                        </button>
                      </div>
                </div>
            </div>
        </div>

      </div>
      <div class="row">
        <div class="col-lg-3">
            <div class="property-item rounded overflow-hidden">
                <div class="position-relative overflow-hidden">
                    <a href=""><img class="img-fluid" src="assets/images/product/inspired-5.jpg" alt=""></a>
                </div>
                <div class="p-3">
                    <div class="d-flex gap-2">
                    <h5 class="text-dark mb-2">$8,999</h5>
                        <div class="h6 mb-0 mt-1"> <del class="fs-sm fw-normal text-body-tertiary">$12,000</del></div>
                    </div>
                    <a class="d-block h6 mb-3 primary-secondary fw-normal" href="">A timeless design doesn’t have to be simple... </a>
                    <div class="d-flex gap-2">
                        <button type="button" class="btn btn-primary-dark w-100  px-3 rounded-0" routerLink="/website/addtoCart"><i class="feather icon-shopping-cart" ></i> Add to cart</button>
                        <button type="button" class="btn btn-icon btn-primary-dark animate-pulse rounded-0" aria-label="Add to wishlist" routerLink="/website/addtoCart">
                          <i class="feather icon-heart"></i>
                        </button>
                      </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="property-item rounded overflow-hidden">
                <div class="position-relative overflow-hidden">
                    <a href=""><img class="img-fluid" src="assets/images/product/inspired-6.jpg" alt=""></a>
                </div>
                <div class="p-3">
                    <div class="d-flex gap-2">
                    <h5 class="text-dark mb-2">$9,299</h5>
                        <div class="h6 mb-0 mt-1"> <del class="fs-sm fw-normal text-body-tertiary">$12,345</del></div>
                    </div>
                    <a class="d-block h6 mb-3 primary-secondary fw-normal" href="">A timeless design doesn’t have to be simple... </a>
                    <div class="d-flex gap-2">
                        <button type="button" class="btn btn-primary-dark w-100  px-3 rounded-0" routerLink="/website/addtoCart"><i class="feather icon-shopping-cart" ></i> Add to cart</button>
                        <button type="button" class="btn btn-icon btn-primary-dark animate-pulse rounded-0" aria-label="Add to wishlist" routerLink="/website/addtoCart">
                          <i class="feather icon-heart"></i>
                        </button>
                      </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="property-item rounded overflow-hidden">
                <div class="position-relative overflow-hidden">
                    <a href=""><img class="img-fluid" src="assets/images/product/inspired-1.jpg" alt=""></a>
                </div>
                <div class="p-3">
                    <div class="d-flex gap-2">
                    <h5 class="text-dark mb-2">$8,725</h5>
                        <div class="h6 mb-0 mt-1"> <del class="fs-sm fw-normal text-body-tertiary">$10,345</del></div>
                    </div>
                    <a class="d-block h6 mb-3 primary-secondary fw-normal" href="">A timeless design doesn’t have to be simple... </a>
                    <div class="d-flex gap-2">
                        <button type="button" class="btn btn-primary-dark w-100  px-3 rounded-0" routerLink="/website/addtoCart"><i class="feather icon-shopping-cart" ></i> Add to cart</button>
                        <button type="button" class="btn btn-icon btn-primary-dark animate-pulse rounded-0" aria-label="Add to wishlist" routerLink="/website/addtoCart">
                          <i class="feather icon-heart"></i>
                        </button>
                      </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="property-item rounded overflow-hidden">
                <div class="position-relative overflow-hidden">
                    <a href=""><img class="img-fluid" src="assets/images/product/inspired-2.jpg" alt=""></a>
                </div>
                <div class="p-3">
                    <div class="d-flex gap-2">
                    <h5 class="text-dark mb-2">$12,345</h5>
                        <div class="h6 mb-0 mt-1"> <del class="fs-sm fw-normal text-body-tertiary">$14,345</del></div>
                    </div>
                    <a class="d-block h6 mb-3 primary-secondary fw-normal" href="">A timeless design doesn’t have to be simple... </a>
                    <div class="d-flex gap-2">
                        <button type="button" class="btn btn-primary-dark w-100  px-3 rounded-0" routerLink="/website/addtoCart"><i class="feather icon-shopping-cart" ></i> Add to cart</button>
                        <button type="button" class="btn btn-icon btn-primary-dark animate-pulse rounded-0" aria-label="Add to wishlist" routerLink="/website/addtoCart">
                          <i class="feather icon-heart"></i>
                        </button>
                      </div>
                </div>
            </div>
        </div>

      </div>
    </div>
  </section>

  <section class="feature_product_area section_gap_bottom_custom mb-25">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="main_title text-center mt-5">
            <h2 class="playfair-display"><span>Warm, Natural & Cosy</span></h2>
            <p class="mb-50 primary-secondary">Wood cabinets create a warm, inviting look that’s modern, sleek and sophisticated.</p>
          </div>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-lg-3">
            <div class="property-item rounded overflow-hidden">
                <div class="position-relative overflow-hidden">
                    <a href=""><img class="img-fluid" src="assets/images/product/inspired-1.jpg" alt=""></a>
                </div>
                <div class="p-3">
                    <div class="d-flex gap-2">
                    <h5 class="text-dark mb-2">$12,657</h5>
                        <div class="h6 mb-0 mt-1"> <del class="fs-sm fw-normal text-body-tertiary">$14,568</del></div>
                    </div>
                    <a class="d-block h6 mb-3 primary-secondary fw-normal" href="">A timeless design doesn’t have to be simple... </a>
                    <div class="d-flex gap-2">
                        <button type="button" class="btn btn-primary-dark w-100  px-3 rounded-0" routerLink="/website/addtoCart"><i class="feather icon-shopping-cart" ></i> Add to cart</button>
                        <button type="button" class="btn btn-icon btn-primary-dark animate-pulse rounded-0" aria-label="Add to wishlist" routerLink="/website/addtoCart">
                          <i class="feather icon-heart"></i>
                        </button>
                      </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="property-item rounded overflow-hidden">
                <div class="position-relative overflow-hidden">
                    <a href=""><img class="img-fluid" src="assets/images/product/inspired-2.jpg" alt=""></a>
                </div>
                <div class="p-3">
                    <div class="d-flex gap-2">
                    <h5 class="text-dark mb-2">$7,999</h5>
                        <div class="h6 mb-0 mt-1"> <del class="fs-sm fw-normal text-body-tertiary">$10,000</del></div>
                    </div>
                    <a class="d-block h6 mb-3 primary-secondary fw-normal" href="">A timeless design doesn’t have to be simple... </a>
                    <div class="d-flex gap-2">
                        <button type="button" class="btn btn-primary-dark w-100  px-3 rounded-0" routerLink="/website/addtoCart"><i class="feather icon-shopping-cart" ></i> Add to cart</button>
                        <button type="button" class="btn btn-icon btn-primary-dark animate-pulse rounded-0" aria-label="Add to wishlist" routerLink="/website/addtoCart">
                          <i class="feather icon-heart"></i>
                        </button>
                      </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="property-item rounded overflow-hidden">
                <div class="position-relative overflow-hidden">
                    <a href=""><img class="img-fluid" src="assets/images/product/inspired-3.jpg" alt=""></a>
                </div>
                <div class="p-3">
                    <div class="d-flex gap-2">
                    <h5 class="text-dark mb-2">$11,123</h5>
                        <div class="h6 mb-0 mt-1"> <del class="fs-sm fw-normal text-body-tertiary">$13,786</del></div>
                    </div>
                    <a class="d-block h6 mb-3 primary-secondary fw-normal" href="">A timeless design doesn’t have to be simple... </a>
                    <div class="d-flex gap-2">
                        <button type="button" class="btn btn-primary-dark w-100  px-3 rounded-0" routerLink="/website/addtoCart"><i class="feather icon-shopping-cart" ></i> Add to cart</button>
                        <button type="button" class="btn btn-icon btn-primary-dark animate-pulse rounded-0" aria-label="Add to wishlist" routerLink="/website/addtoCart">
                          <i class="feather icon-heart"></i>
                        </button>
                      </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="property-item rounded overflow-hidden">
                <div class="position-relative overflow-hidden">
                    <a href=""><img class="img-fluid" src="assets/images/product/inspired-4.jpg" alt=""></a>
                </div>
                <div class="p-3">
                    <div class="d-flex gap-2">
                    <h5 class="text-dark mb-2">$10,345</h5>
                        <div class="h6 mb-0 mt-1"> <del class="fs-sm fw-normal text-body-tertiary">$13,345</del></div>
                    </div>
                    <a class="d-block h6 mb-3 primary-secondary fw-normal" href="">A timeless design doesn’t have to be simple... </a>
                    <div class="d-flex gap-2">
                        <button type="button" class="btn btn-primary-dark w-100  px-3 rounded-0" routerLink="/website/addtoCart"><i class="feather icon-shopping-cart" ></i> Add to cart</button>
                        <button type="button" class="btn btn-icon btn-primary-dark animate-pulse rounded-0" aria-label="Add to wishlist" routerLink="/website/addtoCart">
                          <i class="feather icon-heart"></i>
                        </button>
                      </div>
                </div>
            </div>
        </div>

      </div>
      
    </div>
  </section>

  <section class="feature_product_area section_gap_bottom_custom mb-90">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="main_title text-center mt-5">
            <h2 class="playfair-display"><span>Modern, Clean & Bright</span></h2>
            <p class="mb-50 primary-secondary">A timeless design doesn’t have to be simple; add personality to your space, from Scandanavian minimalism to Southern farmhouse charm.

            </p>
          </div>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-lg-3">
            <div class="property-item rounded overflow-hidden">
                <div class="position-relative overflow-hidden">
                    <a href=""><img class="img-fluid" src="assets/images/product/inspired-5.jpg" alt=""></a>
                </div>
                <div class="p-3">
                    <div class="d-flex gap-2">
                    <h5 class="text-dark mb-2">$6,789</h5>
                        <div class="h6 mb-0 mt-1"> <del class="fs-sm fw-normal text-body-tertiary">$10,345</del></div>
                    </div>
                    <a class="d-block h6 mb-3 primary-secondary fw-normal" href="">A timeless design doesn’t have to be simple... </a>
                    <div class="d-flex gap-2">
                        <button type="button" class="btn btn-primary-dark w-100  px-3 rounded-0" routerLink="/website/addtoCart"><i class="feather icon-shopping-cart" ></i> Add to cart</button>
                        <button type="button" class="btn btn-icon btn-primary-dark animate-pulse rounded-0" aria-label="Add to wishlist" routerLink="/website/addtoCart">
                          <i class="feather icon-heart"></i>
                        </button>
                      </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="property-item rounded overflow-hidden">
                <div class="position-relative overflow-hidden">
                    <a href=""><img class="img-fluid" src="assets/images/product/inspired-6.jpg" alt=""></a>
                </div>
                <div class="p-3">
                    <div class="d-flex gap-2">
                    <h5 class="text-dark mb-2">$11,123</h5>
                        <div class="h6 mb-0 mt-1"> <del class="fs-sm fw-normal text-body-tertiary">$14,345</del></div>
                    </div>
                    <a class="d-block h6 mb-3 primary-secondary fw-normal" href="">A timeless design doesn’t have to be simple... </a>
                    <div class="d-flex gap-2">
                        <button type="button" class="btn btn-primary-dark w-100  px-3 rounded-0" routerLink="/website/addtoCart"><i class="feather icon-shopping-cart" ></i> Add to cart</button>
                        <button type="button" class="btn btn-icon btn-primary-dark animate-pulse rounded-0" aria-label="Add to wishlist" routerLink="/website/addtoCart">
                          <i class="feather icon-heart"></i>
                        </button>
                      </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="property-item rounded overflow-hidden">
                <div class="position-relative overflow-hidden">
                    <a href=""><img class="img-fluid" src="assets/images/product/inspired-1.jpg" alt=""></a>
                </div>
                <div class="p-3">
                    <div class="d-flex gap-2">
                    <h5 class="text-dark mb-2">$10,678</h5>
                        <div class="h6 mb-0 mt-1"> <del class="fs-sm fw-normal text-body-tertiary">$12,345</del></div>
                    </div>
                    <a class="d-block h6 mb-3 primary-secondary fw-normal" href="">A timeless design doesn’t have to be simple... </a>
                    <div class="d-flex gap-2">
                        <button type="button" class="btn btn-primary-dark w-100  px-3 rounded-0" routerLink="/website/addtoCart"><i class="feather icon-shopping-cart" ></i> Add to cart</button>
                        <button type="button" class="btn btn-icon btn-primary-dark animate-pulse rounded-0" aria-label="Add to wishlist" routerLink="/website/addtoCart">
                          <i class="feather icon-heart"></i>
                        </button>
                      </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="property-item rounded overflow-hidden">
                <div class="position-relative overflow-hidden">
                    <a href=""><img class="img-fluid" src="assets/images/product/inspired-2.jpg" alt=""></a>
                </div>
                <div class="p-3">
                    <div class="d-flex gap-2">
                    <h5 class="text-dark mb-2">$9,987</h5>
                        <div class="h6 mb-0 mt-1"> <del class="fs-sm fw-normal text-body-tertiary">$13,345</del></div>
                    </div>
                    <a class="d-block h6 mb-3 primary-secondary fw-normal" href="">A timeless design doesn’t have to be simple... </a>
                    <div class="d-flex gap-2">
                        <button type="button" class="btn btn-primary-dark w-100  px-3 rounded-0" routerLink="/website/addtoCart"><i class="feather icon-shopping-cart" ></i> Add to cart</button>
                        <button type="button" class="btn btn-icon btn-primary-dark animate-pulse rounded-0" aria-label="Add to wishlist" routerLink="/website/addtoCart">
                          <i class="feather icon-heart"></i>
                        </button>
                      </div>
                </div>
            </div>
        </div>

      </div>
      
    </div>
  </section>
