<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
      <div class="container">
        <div class="banner_content d-md-flex justify-content-between align-items-center">
          <div class="mb-3 mb-md-0">
            <h1 class="text-white playfair-display">Careers</h1>
          </div>
          <div class="page_link">
            <a href="javascript:(0);" routerLink="/website/home">Home</a>
            <a href="javascript:(0);">/</a>
            <a href="javascript:(0);">Careers</a>
          </div>
        </div>
       
      </div>
    </div>
  </section>

  <div class="contact-area mt-5 mb-90 pb-4">
    <div class="container">
     
      <div class="contact-form-wrap ">
        <div class="row g-4">
          <div class="col-lg-5">
            <div class="contact-img">
              <img src="assets/images/product/career.jpg" alt="career">
  
            </div>
          </div>
          <div class="col-lg-7">
            <div class="contact-form">
              <div class="contact-form-header">
                <h2 class="playfair-display mb-4">Open the door to a career that evolves <br> with you.</h2>
              </div>
              <div class="form-message"></div>
              <form method="post" id="contact-form">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="form-icon">
                        <input type="text" class="form-control py-11" name="name" placeholder="Full Name" required="">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="form-icon">
                        
                        <input type="email" class="form-control py-11" name="email" placeholder="Email Address" required="">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="form-icon">
                        <input type="text" class="form-control py-11" name="name" placeholder="Phone number" required="">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="form-icon">
                        
                        <input type="email" class="form-control py-11" name="email" placeholder="Postal Code" required="">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-icon">
                    <label for="fname" class="text-black">Upload your Resume</label>
                    <input type="file" class="form-control py-11"  placeholder="Upload your Resume" value="Upload your Resume" required="">

                  </div>
                </div>
                
                <div class="form-group">
                  <div class="form-icon">
                    
                    <textarea name="message" cols="30" rows="5" class="form-control" placeholder="Additional information"
                      required=""></textarea>
                  </div>
                </div>
                <div class="form-group text-start mt-2">
                  <div class="checkbox checkbox-primary d-inline">
                    <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="" />
                    <label for="checkbox-fill-a1" class="cr">I have read and agreed to the Privacy Policy.</label>
                  </div>
                  <p class="primary-secondary">I wish to receive marketing communications (electronic and otherwise) from möbel Cabinetry (“möbel Cabinetry”), with whom I have or might have a business relationship, that offers me their or other products and services. I understand that I can unsubscribe from electronic communications from an entity at any time by using the contact information for that entity or by clicking the unsubscribe link in the entity’s electronic communication. Your consent is sought by möbel Cabinetry on behalf of each linked identity.</p>
                </div>
                <button type="submit" class="btn btn-primary-dark px-4 py-3 rounded-0 mt-3">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
