

<div class="container-fluid py-3 px-md-5 px-2">

  <div class="d-flex justify-content-between align-items-center m-b-10">
    <h5 class="m-0">Hotel Information</h5>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-3 mb-2">
              <h6 class="card-title">Name</h6>
              <p class="card-text">Plaza Premium Lounge</p>
            </div>

            <div class="col-md-3 mb-2">
              <h6 class="card-title">Address</h6>
              <p class="card-text">819642, Singapore</p>
            </div>

            <div class="col-md-3 mb-2">
              <h6 class="card-title">Telephone</h6>
              <p class="card-text">+65 6955 8989</p>
            </div>

            <div class="col-md-3 mb-2">
              <h6 class="card-title">Email</h6>
              <p class="card-text">plazapremiumgmail.com</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <h6 class="card-title">Total Rooms</h6>
              <p class="card-text">350</p>
            </div>

            <div class="col-md-3">
              <h6 class="card-title">Rating</h6>
              <p class="card-text">4 Stars</p>
            </div>

            <div class="col-md-3">
              <h6 class="card-title">Price per Night</h6>
              <p class="card-text">$49.50</p>
            </div>

            <div class="col-md-3">
              <h6 class="card-title">Currency</h6>
              <p class="card-text">USD</p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h5 class="m-b-10">Reservation Statistics</h5>
          <div class="d-flex justify-content-between">
            <div class="row w-100">
              <div class="col-md-3 text-center">
                <div>
                  <h6 class="card-title">List of Vouchers</h6>
              
                  <span class="Statistics-number shadow-sm">3</span>
                </div>
              </div>
              <div class="col-md-3 text-center">
                <div>
                  <h6 class="card-title">Ordered Rooms This Week</h6>
              
                  <span class="Statistics-number shadow-sm">10</span>
                </div>
              </div>
              <div class="col-md-3 text-center">

                <div>
                  <h6 class="card-title">Ordered Rooms Next Week</h6>
              
                  <span class="Statistics-number shadow-sm">0</span>
                </div>
              </div>
              <div class="col-md-3 text-center">
                <div>
                  <h6 class="card-title">Ordered Rooms This Month</h6>
            
                  <span class="Statistics-number shadow-sm">2</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



