<div class="hero mb-50" style="background-image: url(assets/images/product/outlook-v4.jpg);">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-12 ">
                <div class="intro-excerpt text-center">
                    <h1 class="text-white playfair-display">A Möbel Kitchen is <br>
                        the Luxury you Deserve</h1>
                    <p class="mb-4 text-white">There is no one like you. There is no one-size-fits-all when  it comes to your <br> taste, lifestyle, or needs.</p>
                    <p><a href="javascript:void(0);" routerLink="/website/layout" class="btn btn-light btn-lg fs-17 py-2 px-5 rounded-0">Shop Now</a>
                        </p>
                </div>
            </div>
            <!-- <div class="col-lg-7">
                <div class="hero-img-wrap">
                    <img src="assets/images/banner.jpg" class="img-fluid bor-20">
                </div>
            </div> -->
        </div>
    </div>
</div>

<section class="feature_product_area section_gap_bottom_custom mb-90">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="main_title text-center">
            <h2 class="playfair-display"><span>Layout Product</span></h2>
            <p class="mb-50 primary-secondary">Bring called seed first of third give itself now ment</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4">
            <div class="property-item rounded overflow-hidden">
                <div class="position-relative overflow-hidden">
                    <a href=""><img class="img-fluid" src="assets/images/home-1.jpeg" alt=""></a>
                </div>
                <div class="p-3">
                    <div class="d-flex gap-2">
                    <h5 class="text-dark mb-2">$12,345</h5>
                        <div class="h6 mb-0 mt-1"> <del class="fs-sm fw-normal text-body-tertiary">$14,345</del></div>
                    </div>
                    <a class="d-block h6 mb-3 primary-secondary fw-normal" href="">A timeless design doesn’t have to be simple... </a>
                   
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="property-item rounded overflow-hidden">
                <div class="position-relative overflow-hidden">
                    <a href=""><img class="img-fluid" src="assets/images/home-2.jpeg" alt=""></a>
                </div>
                <div class="p-3">
                    <div class="d-flex gap-2">
                    <h5 class="text-dark mb-2">$15,687</h5>
                        <div class="h6 mb-0 mt-1"> <del class="fs-sm fw-normal text-body-tertiary">$17,654</del></div>
                    </div>
                    <a class="d-block h6 mb-3 primary-secondary fw-normal" href="">A timeless design doesn’t have to be simple... </a>
                    
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="property-item rounded overflow-hidden">
                <div class="position-relative overflow-hidden">
                    <a href=""><img class="img-fluid" src="assets/images/home-3.jpeg" alt=""></a>
                </div>
                <div class="p-3">
                    <div class="d-flex gap-2">
                    <h5 class="text-dark mb-2">$13,645</h5>
                        <div class="h6 mb-0 mt-1"> <del class="fs-sm fw-normal text-body-tertiary">$16,234</del></div>
                    </div>
                    <a class="d-block h6 mb-3 primary-secondary fw-normal" href="">A timeless design doesn’t have to be simple... </a>
                    
                </div>
            </div>
        </div>
      </div>

      <div class="row mt-4 pt-2">
        <div class="col-lg-4">
            <div class="property-item rounded overflow-hidden">
                <div class="position-relative overflow-hidden">
                    <a href=""><img class="img-fluid" src="assets/images/home-4.jpeg" alt=""></a>
                </div>
                <div class="p-3">
                    <div class="d-flex gap-2">
                    <h5 class="text-dark mb-2">$11,423</h5>
                        <div class="h6 mb-0 mt-1"> <del class="fs-sm fw-normal text-body-tertiary">$13,654</del></div>
                    </div>
                    <a class="d-block h6 mb-3 primary-secondary fw-normal" href="">A timeless design doesn’t have to be simple... </a>
                   
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="property-item rounded overflow-hidden">
                <div class="position-relative overflow-hidden">
                    <a href=""><img class="img-fluid" src="assets/images/home-5.jpeg" alt=""></a>
                </div>
                <div class="p-3">
                    <div class="d-flex gap-2">
                    <h5 class="text-dark mb-2">$14,546</h5>
                        <div class="h6 mb-0 mt-1"> <del class="fs-sm fw-normal text-body-tertiary">$16,235</del></div>
                    </div>
                    <a class="d-block h6 mb-3 primary-secondary fw-normal" href="">A timeless design doesn’t have to be simple... </a>
                    
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="property-item rounded overflow-hidden">
                <div class="position-relative overflow-hidden">
                    <a href=""><img class="img-fluid" src="assets/images/home-6.jpeg" alt=""></a>
                </div>
                <div class="p-3">
                    <div class="d-flex gap-2">
                    <h5 class="text-dark mb-2">$16,879</h5>
                        <div class="h6 mb-0 mt-1"> <del class="fs-sm fw-normal text-body-tertiary">$18,654</del></div>
                    </div>
                    <a class="d-block h6 mb-3 primary-secondary fw-normal" href="">A timeless design doesn’t have to be simple... </a>
                    
                </div>
            </div>
        </div>
      </div>

      <div class="d-flex gap-2 align-items-center justify-content-center mt-4 pt-2">
        <button type="button" class="btn btn-primary-dark btn-lg fs-17 w-25 text-center shadow px-3 py-2 rounded-0" routerLink="/website/layout">See More Layout</button>
      </div>
    </div>
  </section>

  <section class="new_product_area section_gap_top section_gap_bottom_custom mb-0">
    <div class="container">
     
      <div class="row">
        <div class="col-md-7">
            <div class="row">
                <div class="col-lg-12 mb-0 mb-lg-0">
                    <div class="imgs-grid">
                        <div class="grid grid-1"><img src="assets/images/product/big-product-5.jpg" alt="Untree.co"></div>
                        <div class="grid grid-2"><img src="assets/images/product/inspired-1.jpg" alt="Untree.co"></div>
                        <div class="grid grid-3"><img src="assets/images/product/big-product-4.jpg" alt="Untree.co"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="main_title text-left">
                <h2 class="playfair-display mb-4"><span>We Help You Make Modern Interior Design</span></h2>
                <p class="mb-25 primary-secondary">Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
                <p class="mb-25 primary-secondary">Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
                <ul class="list-unstyled custom-list my-4 primary-secondary">
                    <li>Donec vitae odio quis nisl dapibus malesuada</li>
                    <li>Donec vitae odio quis nisl dapibus malesuada</li>
                    <li>Donec vitae odio quis nisl dapibus malesuada</li>
                    <li>Donec vitae odio quis nisl dapibus malesuada</li>
                    <li>Donec vitae odio quis nisl dapibus malesuada</li>
                    <li>Donec vitae odio quis nisl dapibus malesuada</li>
                </ul>
                <button type="button" class="btn btn-primary-dark btn-lg fs-17 px-3 rounded-0 w-50" routerLink="/website/getintouch">Explore</button>
              </div>
        </div>
      </div>
      </div>
</section>

<section class="feature_product_area section_gap_bottom_custom mb-90">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="main_title text-center">
            <h2 class="playfair-display"><span>Inspired Products</span></h2>
            <p class="mb-50 primary-secondary">Bring called seed first of third give itself now ment</p>
          </div>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-lg-3">
            <div class="property-item rounded overflow-hidden">
                <div class="position-relative overflow-hidden">
                    <a href=""><img class="img-fluid" src="assets/images/product/inspired-1.jpg" alt=""></a>
                </div>
              
            </div>
        </div>
        <div class="col-lg-3">
            <div class="property-item rounded overflow-hidden">
                <div class="position-relative overflow-hidden">
                    <a href=""><img class="img-fluid" src="assets/images/product/inspired-2.jpg" alt=""></a>
                </div>
               
            </div>
        </div>
        <div class="col-lg-3">
            <div class="property-item rounded overflow-hidden">
                <div class="position-relative overflow-hidden">
                    <a href=""><img class="img-fluid" src="assets/images/product/inspired-3.jpg" alt=""></a>
                </div>
                
            </div>
        </div>
        <div class="col-lg-3">
            <div class="property-item rounded overflow-hidden">
                <div class="position-relative overflow-hidden">
                    <a href=""><img class="img-fluid" src="assets/images/product/inspired-4.jpg" alt=""></a>
                </div>
               
            </div>
        </div>

      </div>
      <div class="row">
        <div class="col-lg-3">
            <div class="property-item rounded overflow-hidden">
                <div class="position-relative overflow-hidden">
                    <a href=""><img class="img-fluid" src="assets/images/product/inspired-5.jpg" alt=""></a>
                </div>
                
            </div>
        </div>
        <div class="col-lg-3">
            <div class="property-item rounded overflow-hidden">
                <div class="position-relative overflow-hidden">
                    <a href=""><img class="img-fluid" src="assets/images/product/inspired-6.jpg" alt=""></a>
                </div>
               
            </div>
        </div>
        <div class="col-lg-3">
            <div class="property-item rounded overflow-hidden">
                <div class="position-relative overflow-hidden">
                    <a href=""><img class="img-fluid" src="assets/images/product/inspired-1.jpg" alt=""></a>
                </div>
               
            </div>
        </div>
        <div class="col-lg-3">
            <div class="property-item rounded overflow-hidden">
                <div class="position-relative overflow-hidden">
                    <a href=""><img class="img-fluid" src="assets/images/product/inspired-2.jpg" alt=""></a>
                </div>
               
            </div>
        </div>

      </div>
    </div>
  </section>

  <div class="cta-area mb-90 mt-4" style="background-image: url(assets/images/mobel-outdoor-2.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="cta-content text-center">
                    <h1 class="text-white playfair-display">Outdoor Living by möbel 
                    </h1>
                    <p class="text-white mt-3">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    <a href="javascript:void(0)" routerLink="/website/layout" class="btn btn-lg fs-17 px-4 rounded-0 bg-white mt-3">Order Now</a>
                </div>
            </div>
        </div>
    </div>
</div>

  <div class="why-choose-section mb-70">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <h2 class="section-title playfair-display">Why Choose Us</h2>
                <p class="primary-secondary">Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique.</p>

                <div class="row my-5">
                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="assets/images/product/truck.svg" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Fast &amp; Free Shipping</h3>
                            <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="assets/images/product/bag.svg" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Easy to Shop</h3>
                            <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="assets/images/product/support.svg" alt="Image" class="imf-fluid">
                            </div>
                            <h3>24/7 Support</h3>
                            <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="assets/images/product/return.svg" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Hassle Free Returns</h3>
                            <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-5">
                <div class="img-wrap">
                    <img src="https://themewagon.github.io/furni/images/why-choose-us-img.jpg" alt="Image" class="img-fluid">
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container-xxl mb-90">
    <div class="container">
        <div class="text-center mx-auto mb-5">
            <h2 class="section-title playfair-display">Meet Our Team</h2>
            <p class="primary-secondary">Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd vero ipsum sit <br> eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6">
                <div class="team-item rounded overflow-hidden bg-white">
                    <div class="position-relative">
                        <img class="img-fluid" src="assets/images/product/team-1.jpg" alt="">
                        <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                            <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square mx-1" href=""><i class="feather icon-mail"></i></a>
                            <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4 mt-3">
                        <h5 class="fw-bold mb-0">Full Name</h5>
                        <small>Designation</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item rounded overflow-hidden bg-white">
                    <div class="position-relative">
                        <img class="img-fluid" src="assets/images/product/team-2.jpg" alt="">
                        <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                            <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square mx-1" href=""><i class="feather icon-mail"></i></a>
                            <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4 mt-3">
                        <h5 class="fw-bold mb-0">Full Name</h5>
                        <small>Designation</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item rounded overflow-hidden bg-white">
                    <div class="position-relative">
                        <img class="img-fluid" src="assets/images/product/team-3.jpg" alt="">
                        <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                            <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square mx-1" href=""><i class="feather icon-mail"></i></a>
                            <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4 mt-3">
                        <h5 class="fw-bold mb-0">Full Name</h5>
                        <small>Designation</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item rounded overflow-hidden bg-white">
                    <div class="position-relative">
                        <img class="img-fluid" src="assets/images/product/team-4.jpg" alt="">
                        <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                            <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square mx-1" href=""><i class="feather icon-mail"></i></a>
                            <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4 mt-3">
                        <h5 class="fw-bold mb-0">Full Name</h5>
                        <small>Designation</small>
                    </div>
                </div>
            </div>
            
            
            
        </div>
    </div>
</div>